

<div class="container content-margin" style="text-align: left">
    <form class="form-horizontal" action="" name="form" class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit(form)" >   
        <fieldset>
            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="emailExtract">From E-mail</label>
                <div class="controls">
                  <input type="text" class="form-control" id="emailExtract" name="emailExtract"  formControlName="emailExtract" />				
                </div>
              </div>
              <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="passExtract">Password</label>
                <div class="controls">
                  <input type="password" class="form-control" id="passExtract" name="passExtract"  formControlName="passExtract" />	
                </div>
              </div>
           
              <div class="control-group" *ngIf="showPrivateKey" >
                <!-- Private Key -->
                <label class="control-label" for="privKeyExtract">Private Key</label>
                <div class="controls">
                  <input type="text" class="form-control" id="privKeyExtract" name="privKeyExtract"  formControlName="privKeyExtract"/>

                </div>
              </div>  

              <div class="control-group" style="width: 180px;">
                  <label class="control-label"></label>
                  <div class="controls">
                    <button class="btn btn-info">View Key</button>
                  </div>
                </div>        
                   
        </fieldset>
    </form>
</div>

