<div class="row">
  <div class="border col-lg-6 mt-2"><register-form (OnAccountImport)="list.loadListAccount($event)"></register-form></div>
  <div class="border col-lg-6 mt-2"><import-form (OnAccountCreate)="list.loadListAccount($event)"></import-form></div>
  <div class="border col-xl-6 mt-2"><transfer-form (OnEtherSend)="list.loadListAccount($event)"></transfer-form></div> 
  <div class="border col-xl-6 mt-2"><extractKey-form (OnEtherSend)="list.loadListAccount($event)"></extractKey-form></div> 
</div>
<account-list #list></account-list>